* text=auto

*.js text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.md text eol=crlf
*.json text eol=crlf
*.txt text eol=crlf
*.csv text eol=crlf

*.xlsx binary
*.xls binary
*.docx binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
